@using System.Web.UI.WebControls
@using MvcBaseApp.Resources;

@{
    Layout = null;
}

<style>
    .logopic > img {
        margin-top: 15px;
    }

    .orgname > h1 {
        text-transform: uppercase;
        font-size: 14px;
        margin: 0;
        margin-top: 30px;
        line-height: 24px;
    }
</style>

<script type="text/javascript">

    var navigationData = [];
    navigationData["RequestType"] = '@Url.Action("Index", "RequestType")';
    navigationData["RequestElemStructureType"] = '@Url.Action("Index", "RequestElemStructureType")';
    navigationData["RequestElementType"] = '@Url.Action("Index", "RequestElementType")';
    navigationData["Document_Format"] = '@Url.Action("Index", "Document_Format")';
    navigationData["DocumentState"] = '@Url.Action("Index", "DocumentState")';
    navigationData["Sex"] = '@Url.Action("Index", "Sex")';
    navigationData["RequestState"] = '@Url.Action("Index", "RequestState")';
    navigationData["OrganizationType"] = '@Url.Action("Index", "OrganizationType")';
    navigationData["ActivityType"] = '@Url.Action("Index", "ActivityType")';
    navigationData["AdminUnits"] = '@Url.Action("Index", "AdminUnits")';
    navigationData["QuestionType"] = '@Url.Action("Index", "QuestionType")';



    $(document).ready(function () {
        $(".OptionsTable")
            .find("input[type=checkbox]")
            .change(function () { $("form").submit(); });
    });
    function OnWindowResize(s, e) {
        ribbon.AdjustControl();
    }
    function OnCommandExecuted(s, e) {
        loadNewPage(navigationData[e.item.name], hideLeftPane);
    }
    function OnFileTabClicked(s, e) {
        label.SetText("File Tab");
    }
    function OnDialogBoxLauncherClicked(s, e) {
    }
</script>

<div id="loader_big" style="z-index: 99; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: gray; opacity: 0.5; display: none;" onclick="onBigLoaderClick()">

</div>

<script>
    var alertDownload = $.confirm({
        title: 'Подождите',
        content: 'Идёт загрузка данных',
        lazyOpen: true,
        buttons: {
            confirm: {
                text: 'Закрыть загрузчик',
                action: function () {
                    hideBigLoader();
                }
            },
            cancel: {
                text: '@Labels.btnCancel',
                btnClass: 'btn-blue',
                action: function () {
                }
            }
        }
    });
    function onBigLoaderClick() {
        alertDownload.open();
    }

    function showBigLoader() {
        $('#loader_big').show();



    }

    function hideBigLoader() {
        alertDownload.open();
        alertDownload.close();
        $('#loader_big').hide();
    }
</script>

<div class="row">
<div class="col-md-1" style="background-color: #D9E4F3">

    <div class="logopic" style="align-content: center">
        <img src="@Url.Content("~/Content/icons/logo.png")" alt="" style="display: block; margin: 0 auto; margin-top: 15px; margin-right: 0;">
    </div>

</div>
<div class="col-md-10" style="background-color: #D9E4F3">
<div id="loader_background" style="z-index: 9; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: gray; opacity: 0.5; display: none; height: 123px" onclick="alert('Закончите работу с текущими данными!')">

</div>

@Html.DevExpress().Ribbon(settings =>
{

    settings.Name = "ribbon";
    settings.ClientSideEvents.CommandExecuted = "OnCommandExecuted";
    settings.ShowFileTab = false;

    settings.Theme = Startup.THEME;




    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    var tab = settings.Tabs.Add(Labels.Ribbon_DICTS);
    var tasksGroup = tab.Groups.Add();
    tasksGroup.Text = "";
    tasksGroup.Image.Url = Url.Content("~/Content/icons/военная служба на общую форму.png");
    tasksGroup.Items.Add(MVCxRibbonItemType.ButtonItem, i =>
    {
        i.Text = Labels.Ribbon_DICTS_RequestType;
        i.Name = "RequestType";
        i.Size = RibbonItemSize.Large;
        i.ItemStyle.Width = Unit.Pixel(150);
        ((RibbonButtonItem)i).LargeImage.Url = Url.Content("~/Content/icons/Категория воинского учета.png");
        ((RibbonButtonItem)i).SmallImage.Url = Url.Content("~/Content/icons/Категория воинского учета.png");
    });
    tasksGroup.Items.Add(MVCxRibbonItemType.ButtonItem, i =>
    {
        i.Text = Labels.Ribbon_DICTS_RequestElemStructureType;
        i.Name = "RequestElemStructureType";
        i.Size = RibbonItemSize.Large;

        ((RibbonButtonItem)i).LargeImage.Url = Url.Content("~/Content/icons/воинское звание.png");
        ((RibbonButtonItem)i).SmallImage.Url = Url.Content("~/Content/icons/воинское звание.png");
    });
    tasksGroup.Items.Add(MVCxRibbonItemType.ButtonItem, i =>
    {
        i.Text = Labels.Ribbon_DICTS_RequestElementType;
        i.Name = "RequestElementType";
        i.Size = RibbonItemSize.Large;
        i.ItemStyle.Width = Unit.Pixel(150);
        ((RibbonButtonItem)i).LargeImage.Url = Url.Content("~/Content/icons/готовность к воинской службе.png");
        ((RibbonButtonItem)i).SmallImage.Url = Url.Content("~/Content/icons/готовность к воинской службе.png");
    });
    tasksGroup.Items.Add(MVCxRibbonItemType.ButtonItem, i =>
    {
        i.Text = Labels.Ribbon_DICTS_Document_Format;
        i.Name = "Document_Format";
        i.Size = RibbonItemSize.Large;
        ((RibbonButtonItem)i).LargeImage.Url = Url.Content("~/Content/icons/WarriorSpeciality_32x32.png");
        ((RibbonButtonItem)i).SmallImage.Url = Url.Content("~/Content/icons/WarriorSpeciality_32x32.png");
    });
    tasksGroup.Items.Add(MVCxRibbonItemType.ButtonItem, i =>
    {
        i.Text = Labels.Ribbon_DICTS_DocumentState;
        i.Name = "DocumentState";
        i.Size = RibbonItemSize.Large;
        ((RibbonButtonItem)i).LargeImage.Url = Url.Content("~/Content/icons/группа воинского учета.png");
        ((RibbonButtonItem)i).SmallImage.Url = Url.Content("~/Content/icons/группа воинского учета.png");
    });




    tasksGroup = tab.Groups.Add();
    tasksGroup.Text = "";
    tasksGroup.Image.Url = Url.Content("~/Content/icons/военная служба на общую форму.png");
    tasksGroup.Items.Add(MVCxRibbonItemType.ButtonItem, i =>
    {
        i.Text = Labels.Ribbon_DICTS_Sex;
        i.Name = "Sex";
        i.Size = RibbonItemSize.Large;
        i.ItemStyle.Width = Unit.Pixel(150);
        ((RibbonButtonItem)i).LargeImage.Url = Url.Content("~/Content/icons/Категория воинского учета.png");
        ((RibbonButtonItem)i).SmallImage.Url = Url.Content("~/Content/icons/Категория воинского учета.png");
    });
    tasksGroup.Items.Add(MVCxRibbonItemType.ButtonItem, i =>
    {
        i.Text = Labels.Ribbon_DICTS_OrganizationType;
        i.Name = "OrganizationType";
        i.Size = RibbonItemSize.Large;

        ((RibbonButtonItem)i).LargeImage.Url = Url.Content("~/Content/icons/воинское звание.png");
        ((RibbonButtonItem)i).SmallImage.Url = Url.Content("~/Content/icons/воинское звание.png");
    });

    tasksGroup.Items.Add(MVCxRibbonItemType.ButtonItem, i =>
    {
        i.Text = Labels.Ribbon_DICTS_RequestState;
        i.Name = "RequestState";
        i.Size = RibbonItemSize.Large;

        ((RibbonButtonItem)i).LargeImage.Url = Url.Content("~/Content/icons/воинское звание.png");
        ((RibbonButtonItem)i).SmallImage.Url = Url.Content("~/Content/icons/воинское звание.png");
    });
    tasksGroup.Items.Add(MVCxRibbonItemType.ButtonItem, i =>
    {
        i.Text = Labels.Ribbon_DICTS_ActivityType;
        i.Name = "ActivityType";
        i.Size = RibbonItemSize.Large;
        ((RibbonButtonItem)i).LargeImage.Url = Url.Content("~/Content/icons/воинское звание.png");
        ((RibbonButtonItem)i).SmallImage.Url = Url.Content("~/Content/icons/воинское звание.png");
    });
    tasksGroup.Items.Add(MVCxRibbonItemType.ButtonItem, i =>
    {
        i.Text = Labels.Ribbon_DICTS_AdminUnits;
        i.Name = "AdminUnits";
        i.Size = RibbonItemSize.Large;
        ((RibbonButtonItem)i).LargeImage.Url = Url.Content("~/Content/icons/воинское звание.png");
        ((RibbonButtonItem)i).SmallImage.Url = Url.Content("~/Content/icons/воинское звание.png");
    });
    tasksGroup.Items.Add(MVCxRibbonItemType.ButtonItem, i =>
    {
        i.Text = Labels.Ribbon_DICTS_QuestionType;
        i.Name = "QuestionType";
        i.Size = RibbonItemSize.Large;
        ((RibbonButtonItem)i).LargeImage.Url = Url.Content("~/Content/icons/воинское звание.png");
        ((RibbonButtonItem)i).SmallImage.Url = Url.Content("~/Content/icons/воинское звание.png");
    });





}).GetHtml()
</div>
<div class="col-md-1" style="background-color: #D9E4F3">
    @Html.Partial("_LoginPartial")
</div>
</div>