@{
    Layout = ((bool?)ViewBag.AJAX) ?? false ? "~/Views/Shared/_Layout.cshtml" : null;
}

@using MvcBaseApp.Resources
@model MvcBaseApp.Models.IndexGridModel

@if (
            Html.HasRoleView(Session, Model.EntityName + "_Id") ||
            Html.HasRoleView(Session, Model.EntityName + "_Id_Request") ||
            Html.HasRoleView(Session, Model.EntityName + "_Id_State") ||
            Html.HasRoleView(Session, Model.EntityName + "_DateStatusChange")
                )
{
    @Html.Partial("_IndexHeader", Model)

    @Html.Partial("IndexGrid/_ButtonView", Model)
    @Html.Partial("IndexGrid/_ButtonDelete", Model)
    @Html.Partial("IndexGrid/_ButtonRefresh", Model)

    @Html.Partial("IndexGrid/_ButtonPrint", Model)
    @Html.Partial("IndexGrid/_ButtonClose", Model)

    @*@Html.Partial("IndexGrid/_Header", Model)*@

    <!-- Variables -->
    <script>
        var current@(Model.EntityName)Id = 0;
        var current@(Model.EntityName)Id_Request = 0;
        //var current@(Model.EntityName)Name = '';
    </script>

    <script>
        function OnBtnView@(Model.EntityName)Click() {
            loadNewPage('@Url.Action("AddEdit", Model.EntityName)?id=0' + '&Id_Request=' + current@(Model.EntityName)Id_Request, update@(Model.EntityName)List);
            //alert(current@(Model.EntityName)Id);
            return true;
        }

    </script>

    <!-- Grid Events-->
    <script>



        function On@(Model.EntityName)GridFocusedRowChanged(s, e) {
            s.GetRowValues(s.GetFocusedRowIndex(), 'Id;Id_Request', On@(Model.EntityName)GetRowValues);
            //s.GetRowValues(s.GetFocusedRowIndex(), 'Id_Request', On@(Model.EntityName)GetRowValues);
        }
        function On@(Model.EntityName)GetRowValues(values) {
            current@(Model.EntityName)Id = values[0];
            current@(Model.EntityName)Id_Request = values[1];
            //current@(Model.EntityName)Name = values[1];
        }
    </script>

    <!-- Private Functions -->
    <script>
        function update@(Model.EntityName)List() {
            $.get('@Url.Action("UnassignedPartial", Model.EntityName)' + '?@Html.Raw(Model.AdditionalUrlParamenter)', function (data) {
                $('#@(Model.EntityName)List').html(data);
            });
        }
    </script>

    <br />
    <br />

    <div id="@(Model.EntityName)List">

        @Html.Partial("_Unassigned")

    </div>

    <!-- Additional Binding -->
    <script>

        hideBigLoader();

        bindings.push(bind@(Model.EntityName)List);

        function bind@(Model.EntityName)List() {
        }
    </script>
}
else
{
    <!-- Additional Binding -->
    <script>

        hideBigLoader();

        function bind@(Model.EntityName)List() {
        }

        bindings.push(bind@(Model.EntityName)List);


        $.alert('@Labels.NotAccessRights');
        closeLastPage();
    </script>
}
