@using System.Web.UI.WebControls
@using MvcBaseApp.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лицензирование медицинских и фармацевтических услуг</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    @Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, AccessibilityCompliant = true },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
        new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.TreeList }
        )

    <style>
        .inline-editor {
            float: left;
            margin: 0.5em;
        }

        .highlight {
            background-color: #99FF66;
        }
    </style>

    <link rel="stylesheet" href='@Url.Content("~/Content/jqonfirm.css")'>
    <script src='@Url.Content("~/Scripts/jquery-confirm.js")'></script>

</head>
<body style="padding: 0;  background-color: #c8ccd1">

    @Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = Startup.THEME },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = Startup.THEME },
    new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor, Theme = Startup.THEME },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = Startup.THEME },
    new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid, Theme = Startup.THEME },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Chart, Theme = Startup.THEME },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Report, Theme = Startup.THEME },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler, Theme = Startup.THEME },
    new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList, Theme = Startup.THEME }
    )






<style>
    * {
        font-size: 14px !important;
    }

    body, html {
        height: 100%;
    }
</style>
<div id="ribbon" class="container-fluid" style="height: 100px; background-color: #D9E4F3">
    <div class="row">
        <div class="col-md-1" style="background-color: #D9E4F3">

            <div class="logopic" style="align-content: center">
                <img src="@Url.Content("~/Content/icons/logo.png")" alt="" style="display: block; margin: 0 auto; margin-top: 15px; margin-right: 0;">
            </div>
        </div>
        <div class="col-md-9">
            <p href="#" style="font-size: 20px !important; padding-top: 30px;">Лицензирование медицинских и фармацевтических услуг</p>
        </div>
        <div class="col-md-2 col-md-offset-1" style="background-color: #D9E4F3">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    
</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div id="loader_background" style="z-index: 9; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: gray; opacity: 0.5; display: none; height: 100%" onclick="alert('Закончите работу с текущими данными!')">

                </div>
                @Html.Partial("_Navbar")
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="container-fluid body-content" style="z-index: 9999; height: 100%; padding: 35px 45px 0 35px; background-color: #c8ccd1; border-right: 1px solid #c8ccd1; border-bottom: 1px solid #c8ccd1;">
                        <div id="root" class="row" style="background-color: #fff; padding: 10px; overflow: auto">
                            <div id="preloaded_0">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div id="loader_big" style="z-index: 999999; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: gray; opacity: 0.5; display: none;" onclick="onBigLoaderClick()">

    </div>

    <script>
        var alertDownload = $.confirm({
            title: 'Подождите',
            content: 'Идёт загрузка данных',
            lazyOpen: true,
            buttons: {
                confirm: {
                    text: 'Закрыть загрузчик',
                    action: function () {
                        hideBigLoader();
                    }
                },
                cancel: {
                    text: '@Labels.btnCancel',
                    btnClass: 'btn-blue',
                    action: function () {
                    }
                }
            }
        });
        function onBigLoaderClick() {
            alertDownload.open();
        }

        function showBigLoader() {
            $('#loader_big').show();



        }

        function TextBoxIntegerKeyUp(s, e) {
            var position = e.htmlEvent.currentTarget.selectionStart;

            var value = s.GetText();
            var text = value == null ? "" : value;
            text = text.replace(/\D/g, '');
            s.SetText(text);
            //var number = parseFloat(text);
            //if (isNaN(number)) {
            //    s.SetValue("");
            //}
            //else if (number === Infinity) {
            //    s.SetValue(Number.MAX_SAFE_INTEGER);
            //}
            //else if (number === -Infinity) {
            //    s.SetValue(-Number.MAX_SAFE_INTEGER);
            //}
            //else if (number > Number.MAX_SAFE_INTEGER) {
            //    s.SetValue(Number.MAX_SAFE_INTEGER);
            //}
            //else if (number < -Number.MAX_SAFE_INTEGER) {
            //    s.SetValue(-Number.MAX_SAFE_INTEGER);
            //}
            //else {
            //    if (text[text.length - 1] == ".") s.SetValue(number+".");
            //    else s.SetValue(number);
            //}

            e.htmlEvent.currentTarget.selectionEnd = position;
        }


        function TextBoxDoubleKeyUp(s, e) {

            var position = e.htmlEvent.currentTarget.selectionStart;

            var value = s.GetValue();
            var text = value == null ? "" : value.replace(",", ".");


            var firstOccuranceIndex = text.search(/\./) + 1; // Index of first occurance of 
            text = text.substr(0, firstOccuranceIndex) + text.slice(firstOccuranceIndex).replace(/\./g, ''); // Splitting into two string and replacing all the dots (.'s) in the second string
            text = text.replace(/[^\d.-]/g, '');
            if (text.length !== 0) {
                if (text[0] == ".") text = "0" + text;
            }

            s.SetValue(text);
            //var number = parseFloat(text);
            //if (isNaN(number)) {
            //    s.SetValue("");
            //}
            //else if (number === Infinity) {
            //    s.SetValue(Number.MAX_SAFE_INTEGER);
            //}
            //else if (number === -Infinity) {
            //    s.SetValue(-Number.MAX_SAFE_INTEGER);
            //}
            //else if (number > Number.MAX_SAFE_INTEGER) {
            //    s.SetValue(Number.MAX_SAFE_INTEGER);
            //}
            //else if (number < -Number.MAX_SAFE_INTEGER) {
            //    s.SetValue(-Number.MAX_SAFE_INTEGER);
            //}
            //else {
            //    if (text[text.length - 1] == ".") s.SetValue(number+".");
            //    else s.SetValue(number);
            //}

            e.htmlEvent.currentTarget.selectionEnd = position;
        }

        function hideBigLoader() {
            alertDownload.open();
            alertDownload.close();
            $('#loader_big').hide();
        }
    </script>

    <script>
        var preloaderIds = [];

        var bindings = [];

        var callbacks = [];

        function getLastBinding() {
            return bindings[bindings.length - 1];
        }

        function getLastCallbacks() {
            return callbacks[callbacks.length - 1];
        }

        function getLatPreloader() {
            return $('#preloaded_' + preloaderIds.length);
        }



        function showLeftPane() {
            //var pane = splOverview.GetPaneByName("WorkerPreview");
            //pane.Expand();
        }

        function hideLeftPane() {
            //var pane = splOverview.GetPaneByName("WorkerPreview");
            //pane.Collapse(pane);
        }

        function bindLast() {
            var bind = bindings[bindings.length - 1];
            if (bind != null) {
                bind();
            }
        }
    </script>
    @Html.Partial("_LookUpEditJs")

    <script>
        function resizeGrid(s, e) {
            //s.SetHeight(splOverview.GetHeight() - 165);
        }

        function resizePane() {
            var winHeight = window.innerHeight;
            var ribbonHeight = $('#ribbon').height();

            var neededHeight = winHeight - ribbonHeight - 50;
            var innerHeight = neededHeight - 15;

            $("#root").css("height", neededHeight);
            //$("#splOverview_0").css("height", neededHeight);
            //$("#splOverview_1").css("height", neededHeight);
            //$("#splOverview_1_CC").css("height", innerHeight);
            //$("#splOverview_0_CC").css("height", innerHeight);
        }

        function resizeLoadedPane(pane) {
            var neededHeight = $("#root").height();
            var neededWidth = $("#root").width();

            pane.css("height", neededHeight);
            pane.css("width", neededWidth);
        }

        $(document).ready(function () {
            resizePane();
        });
    </script>


    @*<script>
            var isEdited = false;
            $(document).ready(function () {
                if (isEdited)
                    return;
                isEdited = true;
                var winHeight = window.innerHeight;
                var ribbonHeight = $('#ribbon').height();

                var neededHeight = winHeight - ribbonHeight - 50;
                var innerHeight = neededHeight - 15;

                $("#splOverview").css("height", neededHeight);
                $("#splOverview_0").css("height", neededHeight);
                $("#splOverview_1").css("height", neededHeight);
                $("#splOverview_1_CC").css("height", innerHeight);
                $("#splOverview_0_CC").css("height", innerHeight);
            });

            function resizePane() {
                var winHeight = window.innerHeight;
                var ribbonHeight = $('#ribbon').height();

                var neededHeight = winHeight - ribbonHeight - 50;
                var innerHeight = neededHeight - 15;

                $("#splOverview").css("height", neededHeight);
                $("#splOverview_0").css("height", neededHeight);
                $("#splOverview_1").css("height", neededHeight);
                $("#splOverview_1_CC").css("height", innerHeight);
                $("#splOverview_0_CC").css("height", innerHeight);
            }

            //window.onbeforeunload = function () { return "Your work will be lost."; };

        </script>*@
    @*<div class="container-fluid body-content" style="z-index: 9999; padding: 30px 45px 0 45px; background-color: #c8ccd1; border-right: 1px solid #c8ccd1; border-bottom: 1px solid #c8ccd1;">
            <div class="row" style="z-index: 9999;">

                @Html.DevExpress().Splitter(settings =>
           {
               settings.Panes.Add(pane =>
               {
                   pane.Name = "WorkerPreview";
                   pane.MaxSize = Unit.Pixel(250);
                   pane.Collapsed = true;
                   pane.ShowCollapseBackwardButton = DefaultBoolean.False;
                   pane.SetContent(() =>
                   {
                       ViewContext.Writer.Write(
                           "            <div id=\"totalPreview\" style=\"z-index: 9999\"></div>"
                           );
                   });
               });

               settings.Height = Unit.Percentage(100);
               settings.Width = Unit.Percentage(100);
               settings.ShowSeparatorImage = false;
               settings.ClientSideEvents.PaneResized = "resizePane";
               settings.AllowResize = false;
               settings.Name = "splOverview";
               settings.Panes.Add(pane =>
               {
                   pane.Name = "ContentPane";
                   pane.ScrollBars = ScrollBars.Auto;
                   pane.MinSize = 100;
                   pane.SetContent(() =>
                   {
                       ViewContext.Writer.Write(
                           "<div id=\"root\" class=\"col-md-12\" style=\"background-color: #fff\"><div id=\"preloaded_0\">" + RenderBody() + "</div></div>"
                           );
                   });
               });

           }).GetHtml()
            </div>
        </div>*@


</body>
</html>
