@{
    Layout = ((bool?)ViewBag.AJAX) ?? false ? "~/Views/Shared/_Layout.cshtml" : null;
}

@using MvcBaseApp.Resources
@model MvcBaseApp.Models.IndexGridModel

@if (
Html.HasRoleView(Session, Model.EntityName + "_Id") ||
Html.HasRoleView(Session, Model.EntityName + "_Id_Request") ||
Html.HasRoleView(Session, Model.EntityName + "_Id_Type")
    )
{
    @Html.Partial("_IndexHeader", Model)

    @Html.Partial("IndexGrid/_ButtonAdd", Model)
    @Html.Partial("IndexGrid/_ButtonEdit", Model)
    @Html.Partial("IndexGrid/_ButtonView", Model)
    @Html.Partial("IndexGrid/_ButtonDelete", Model)
    @Html.Partial("IndexGrid/_ButtonRefresh", Model)
    @Html.Partial("IndexGrid/_ButtonPrint", Model)
    @Html.Partial("IndexGrid/_ButtonClose", Model)

    <script>
        function OnBtnView@(Model.EntityName)Click() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GenerateWord", "LicenseRequest")',
                data: '&Id='+current@(Model.EntityName)Id,
                success: function (response) {
                    var win = window.open('@Url.Action("LicensePrintTemplate", "LicenseRequest")?Id=' + response, '_blank');
                    win.focus();
                },
                error: function () {
                    $.alert('@Labels.ErrorNullFields');
                }
            });
            return true;
        }
    </script>

    <div class="row">

        <div class="col-md-9">
            @Html.Partial("IndexGrid/_Header", Model)

            @Html.Partial("_Index")

            @Html.Partial("IndexGrid/_Footer", Model)
        </div>
        <div class="col-md-3">
            @Html.Partial("IndexGrid/_Sidebar", Model)

        </div>

    </div>

}
else
{
    <!-- Additional Binding -->
    <script>

        hideBigLoader();

        function bind@(Model.EntityName)List() {
        }

        bindings.push(bind@(Model.EntityName)List);


        $.alert('@Labels.NotAccessRights');
        closeLastPage();
    </script>
}
